<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>SyncNosBackgroundHelper</string>
    <key>CFBundleDisplayName</key>
    <string>SyncNosBackgroundHelper</string>
    <key>CFBundleIdentifier</key>
    <string>com.chiimagnus.macOS.BackgroundHelper</string>
    <key>CFBundleExecutable</key>
    <string>SyncNosBackgroundHelper</string>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>


